.container-fluid
    .card.shadow.mb-4
        .card-header.py-3
            h6(class="m-0 font-weight-bold text-primary") Patients Treated
        .card-body
            .table-responsive
                .dataTables_wrapper.dt-bootstrap4
                    .row
                        .col-sm-12
                            table(class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;")
                                thead
                                    tr
                                        th #
                                        th Name
                                        th Age
                                        th Gender
                                        th Time Add
                                        th Disease
                                        th Additional message
                                        th
                                tfoot
                                    tr
                                        th #
                                        th Name
                                        th Age
                                        th Gender
                                        th Time Add
                                        th Disease
                                        th Additional message
                                        th
                                tbody
                                    - var x = 0;
                                    each patient in datapatients
                                        - var check = patient.treatedBy === datadoctors.Doctor.ID
                                        if(check)
                                            tr
                                                td #{++x}
                                                td #{patient.Patient.Patient.name}
                                                td #{patient.Patient.Patient.age}
                                                td #{patient.Patient.Patient.gender}
                                                td #{patient.Patient.Patient.date}
                                                td #{patient.Patient.Patient.disease}
                                                td #{patient.Patient.Patient.message}
                                                td
                                                    - var link =
                                                    a(href=link)._parent Done